@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: content-box;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Inter", sans-serif;
  color:#121212;
}
p,a{
  font-family: "Poppins", sans-serif;
  color:#707070;
}
.bg-brimary{
  background: #FF5959;
}
.text-primary{
  color:#FF5959;
}
.hide{
  display: none;
}

.wrap{
  max-width: 1440px;
  margin:0 auto;
}
.btn-primary{
  background: #FF5959;
  padding:10px 18px;
  border-radius: 5px;
  cursor: pointer;
  color:#fff;
  font-weight: 600;
  transition:.3s ease;
  border: none;
}
.btn-brimary:hover{
  opacity: 96;
}
.section-heading{
  font-size:40px ;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.section-text{
  text-align: center;
  margin-bottom: 40px;
}
/* -- header section style --  */
.header{
  background: url(../images/donation8.jpg) #0000004d;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:  center;
  gap:20px;
  flex-wrap: wrap;
  min-height: 650px;
}

.header-content h1{
  color:#fff;
  font-size: 58px;
  font-weight: 700;
}
.header-content p{
  color:#fff;
}

/* donate section style  */
.donate-section{
  margin:60px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.donets{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  margin-bottom: 40px;
}
.donet{
  flex: 1 1 200px;
  background:#FAFAFA ;
  border: 2px solid #FAFAFA;
  padding:50px 20px;
  border-radius: 5px;
  max-width: 120px;
  transition:all .3s ease;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.donet:hover{
  background: #FFEEEE;
  border: 2px solid #FF5959;
  color:#FF5959;
}
.donate-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.donate-form input{
  border: none;
  border-bottom: 2px solid #70707052;
  padding-bottom: 5px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 18px;
}

/* donation plean section  stayle  */
.donate-plan-section{
  margin:60px auto;
}
.donate-plans{
  display: flex;
  justify-content: center;
  gap:30px;
  flex-wrap: wrap;
}
.donate-plan{
  display: flex;
  flex-direction: column;
  gap:20px;
  border-radius: 5px;
  padding:20px;
  flex:1 1 250px;
  max-width: 250px;
}
.donate-plan img{
  width: auto;
}

.bg-1{
  background: #4F9DA61A;
}
.bg-2{
  background: #FF59591A;
}
.bg-3{
  background: #FFF4D6;
}